<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% flash.each do |type, msg| %>
        <%= content_tag :div, style: "alert alert-#{type}" do %>
            <%= msg %>
        <% end %>
    <% end %>
  </div>
</div>